<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lazy.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    <title>RecruitHub</title>
</head>
<body class="index">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/">Home</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/Candidates/All">Candidates</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/Recruiters/All">Recruiters</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/Jobs/All">Jobs</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/Interviews/All">Interviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/Skills/All">Skills</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main>
        <div class="bubbles d-none d-md-block">
            <!-- 				bubbles -->
            <div class="bubble bubble-1 rotate-bubble bg-warning"></div>
            <div class="bubble bubble-2 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-3 bubble-top-right bg-warning rotate-bubble"></div>
            <div class="bubble bubble-4 bubble-top-left bg-info rotate-bubble"></div>
            <div class="bubble bubble-5 bg-info rotate-bubble"></div>
            <div class="bubble bubble-6 bubble-bottom-right bg-danger rotate-bubble"></div>
            <div class="bubble bubble-7 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-8 bubble-top-left bg-success rotate-bubble"></div>
            <div class="bubble bubble-9 bg-warning rotate-bubble"></div>
            <div class="bubble bubble-10 bg-danger rotate-bubble"></div>
            <div class="bubble bubble-11 bubble-bottom-right bg-info rotate-bubble"></div>
            <div class="bubble bubble-12 bubble-top-right bg-success rotate-bubble"></div>
            <div class="bubble bubble-13 bubble-top-left bg-success rotate-bubble"></div>
            <!--         circles -->
            <div class="circle circle-1 bg-light rotate-circle"></div>
            <div class="circle circle-2 bg-success rotate-circle"></div>
            <div class="circle circle-3 bg-danger rotate-circle"></div>
            <div class="circle circle-4 bg-info rotate-circle"></div>
            <div class="circle circle-5 bg-success rotate-circle"></div>
            <div class="circle circle-6 bg-info rotate-circle"></div>
            <div class="circle circle-7 bg-warning rotate-circle"></div>
            <div class="circle circle-8 bg-white rotate-circle"></div>
            <div class="circle circle-9 bg-warning rotate-circle"></div>
            <div class="circle circle-10 bg-danger rotate-circle"></div>
        </div>
        @RenderBody()
    </main>
    <footer class="fixed-bottom footer-1 bg-dark text-light">
        <div class="text-center container">

                <div class="text-sm-center navbar-expand-sm">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/Candidates/All">Candidates</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/Recruiters/All">Recruiters</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/Jobs/All">Jobs</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/Interviews/All">Interviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="btn btn-sm text-white-50" href="/Skills/All">Skills</a>
                        </li>

                        <li class="nav-item">
                            <p class="btn btn-sm text-info font-weight-light ml-5 text-left float-left" href="">RecruitHub 2022 All Rights Reserved</p>
                        </li>
                    </ul>
                </div>
            </div>
    </footer>


    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- optional plugins -->
    <script src="/vendor/nouislider/js/nouislider.min.js"></script>

    <!--   lazy javascript -->
    <script src="/js/lazy.js"></script>
</body>
</html>