<div class="pt-5 page-hero bg-primary text-white" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="title">
                    <img class=" mt-0 pt-0 w-25 mb-2" src="/img/networking.png" alt="recruitment" />

                    <h1 class="display-2 text-white">RecruitHub</h1>
                    <h4 class="text-white">A new system for helping a HR companies with managing a number of available jobs, the recruiters and candidates skills.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<img class="w-100 mb-5" src="/img/recruiting.jpg" alt="recruitment" />
