
<div class="container">
    <div class="section">
        <div class="row">
            <div class="mb-5 pb-5 col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Skills</h2>
                </div>

                <div class="d-flex justify-content-center">
                    <a class="btn btn-block btn-primary text-white mb-3" href="/Skills/Add">Create Skill</a>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Candidates</th>
                                <th scope="col">Jobs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var skill in Model)
                            {

                            <tr class="table-light">
                                <td scope="row">@skill.Name</td>
                                <td scope="row">@skill.CandidatesNumber</td>
                                <td scope="row">@skill.JobsNumber</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>