<div class="container">
    <div class="section">
        <div class="row">
            <div class="mb-5 pb-5 col-md-8 offset-md-2">

                <div class="page-header text-center">
                    <h2 id="tables">Your request is not valid. Errors:</h2>
                </div>

                <div class="alert-info p-2 mt-3 mb-3 text-center text-decoration-none">
                    <ul>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>