<h1 class="text-center mt-2">Create Job</h1>
<hr class="bg-primary w-75">
<form class="mb-5 pb-5 mx-auto w-50" method="post">
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="name" class="h3 mb-2">Title</label>
        </div>
        <input type="text" class="form-control" id="name" name="title" />
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="name" class="h3 mb-2">Description</label>
        </div>
        <input type="text" class="form-control" id="name" name="description" />
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="name" class="h3 mb-2">Salary</label>
        </div>
        <input type="text" class="form-control" id="name" name="salary" />
    </div>
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="name" class="h3 mb-2">Skill</label>
        </div>
        <input type="text" class="form-control" id="name" name="skill" />
    </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
    </div>
</form>